<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
</head>
<body>

<h1>Article</h1>
<ul>
    {{ form_start(articles) }}

    <button type="submit" class="btn btn-primary">Ajouter</button>
    {{ form_end(articles) }}

    {#{% for article in articles %}
        <li>
            {{ article.title }} - {{ article.content }}
        </li>
    {% endfor %}#}
</ul>


</body>
</html>